
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 LienHe">
    <p class="TieuDe">Nhà hàng Nhật Bản Sushi Family</p>
    <span class="ThongTin">Địa chỉ: </span>
    <span class="NoiDung">109 Đinh Tiên Hoàng, Phường Đa Kao, quận 1, thành phố Hồ Chí Minh</span>
    <br />
    <span class="ThongTin">SĐT: </span>
    <span class="NoiDung">0903 967 388</span>
    <br />
    <span class="ThongTin">Email: </span>
    <span class="NoiDung">sushi.kazoku2699@gmail.com</span>
    <br />
    <span class="ThongTin">Website: </span>
    <span class="NoiDung">sushifamily.vn</span>
    <br />
    <br />
    <label for="usr">Họ tên* </label>
    <input type="text" class="form-control" id="name">
    <label for="usr">Email* </label>
    <input type="text" class="form-control" id="email">
    <label for="usr">SĐT* </label>
    <input type="text" class="form-control" id="sdt">
    <label for="usr">Nội dung:</label>
    <textarea type="text" class="form-control" id="name" style="width:50%; height:10em"></textarea>
    <a href="#">Gửi tin nhắn</a>
</div>