@model CMS.Models.Product
@{
    ViewBag.Title = "Sushi Family";
}

@*@Html.Partial("_Banner")*@
<div ng-controller="homeController">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 TinTuc">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 TinMoi" dir-paginate="(index, value) in posts | itemsPerPage:1">
            <img src="{{value.image}}" class="img-responsive Anh" />
            <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="TieuDe">{{value.title}}</a>
            <p class="NoiDung">
                {{value.description | limitTo: 100}}{{value.description.length > 100 ? '&hellip;' : ''}}
            </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 DanhSach" dir-paginate="(index, value) in posts | itemsPerPage:3">
            <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="NoiDung">
                <span class="fa fa-bullhorn">
                </span>{{value.title}}
            </a>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ThucDon" style="border-bottom:solid 1px #ff0000">
        <p class="TieuDe">Nhà hàng Nhật Bản Sushi Kazoku</p>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 MonAn" dir-paginate="(index, value) in products | itemsPerPage: 12">
            <a href="/san-pham/{{value.alias}}-{{value.idProduct}}">
                <img alt="{{value.title}}" src="{{value.image}}" class="img-responsive" />
                <p class="TenMon">{{value.title}}</p>
                <p class="Gia">Đơn giá: {{value.price | number:0}} <sup>đ</sup></p>
            </a>
        </div>
    </div>
</div>