
@{
    ViewBag.Title = "TatCaBaiViet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-sm-12 BaiVietLienQuan">
    <p class="TieuDe">Tất cả các bài biết</p>

    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon1.png" class="img-responsive" />
        <p class="TenBai">Bài 1</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon2.png" class="img-responsive" />
        <p class="TenBai">Bài 2</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon3.png" class="img-responsive" />
        <p class="TenBai">Bài 3</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon4.png" class="img-responsive" />
        <p class="TenBai">Bài 4</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon1.png" class="img-responsive" />
        <p class="TenBai">Bài 5</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon2.png" class="img-responsive" />
        <p class="TenBai">Bài 6</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon3.png" class="img-responsive" />
        <p class="TenBai">Bài 7</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon4.png" class="img-responsive" />
        <p class="TenBai">Bài 8</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon1.png" class="img-responsive" />
        <p class="TenBai">Bài 9</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon2.png" class="img-responsive" />
        <p class="TenBai">Bài 10</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon3.png" class="img-responsive" />
        <p class="TenBai">Bài 11</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
    <a href="#" class="col-md-6 col-sm-6 col-xs-6 GoiY">
        <img src="~/img/Mon4.png" class="img-responsive" />
        <p class="TenBai">Bài 12</p>
        <p class="TomTat">Tóm tắt</p>
    </a>
</div>