<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Banner" ng-controller="bannerController">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="{{index}}" ng-class="{'active':index==0}" ng-repeat="(index, value) in banners"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{'active':index==0}" ng-repeat="(index, value) in banners" >
                <img ng-src="{{value.image}}" class="img-responsive" alt="{{value.title}}" style="width:100%;" />
            </div>
        </div>
    </div>
</div>