
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <table class="table table-bordered" id="miyazaki">
        <caption>BẢNG BÁO GIÁ</caption>
        <thead>
            <tr>
                <th><span>dịch vụ</span> </th>
                <th><span>thời gian thực hiện</span></th>
                <th><span>mô tả công việc</span> <br><i>Giúp việc theo tiếng</i></th>
                <th><span>hình thức hợp đồng</span></th>
                <th><span>giá dịch vụ</span> <br> <i>(VNĐ/THÁNG)</i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh22</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>2 tiếng/ngày</li>
                        <li>(2 ngày/tuần)</li>
                        <li>8 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 960.000 đ/tháng </li>
                        <li> (16 tiếng/tháng) </li>
                        <li> 60.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh23</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>2 tiếng/ngày</li>
                        <li>(3 ngày/tuần)</li>
                        <li>12 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 1.392.000 đ/tháng </li>
                        <li> (24 tiếng/tháng) </li>
                        <li> 58.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh24</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>2 tiếng/ngày</li>
                        <li>(4 ngày/tuần)</li>
                        <li>16 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 1.792.000 đ/tháng </li>
                        <li> (32 tiếng/tháng) </li>
                        <li> 56.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh25</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>2 tiếng/ngày</li>
                        <li>(5 ngày/tuần)</li>
                        <li>20 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 2.200.000 đ/tháng </li>
                        <li> (40 tiếng/tháng) </li>
                        <li> 55.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh26</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>2 tiếng/ngày</li>
                        <li>(6 ngày/tuần)</li>
                        <li>26 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 2.808.000 đ/tháng </li>
                        <li> (52 tiếng/tháng) </li>
                        <li> 54.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh32</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>3 tiếng/ngày</li>
                        <li>(2 ngày/tuần)</li>
                        <li>8 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 1.392.000 đ/tháng </li>
                        <li> (24 tiếng/tháng) </li>
                        <li> 58.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh33</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>3 tiếng/ngày</li>
                        <li>(3 ngày/tuần)</li>
                        <li>12 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 2.016.000 đ/tháng </li>
                        <li> (36 tiếng/tháng) </li>
                        <li> 48.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh34</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>3 tiếng/ngày</li>
                        <li>(4 ngày/tuần)</li>
                        <li>16 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 2.640.000 đ/tháng </li>
                        <li> (48 tiếng/tháng) </li>
                        <li> 55.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh35</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>3 tiếng/ngày</li>
                        <li>(5 ngày/tuần)</li>
                        <li>20 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 3.120.000 đ/tháng </li>
                        <li> (60 tiếng/tháng) </li>
                        <li> 52.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh36</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>3 tiếng/ngày</li>
                        <li>(6 ngày/tuần)</li>
                        <li>26 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 3.744.000 đ/tháng </li>
                        <li> (60 tiếng/tháng) </li>
                        <li> 52.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh42</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>4 tiếng/ngày</li>
                        <li>(2 ngày/tuần)</li>
                        <li>8 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 1.665.000 đ/tháng </li>
                        <li> (32 tiếng/tháng) </li>
                        <li> 52.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh43</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>4 tiếng/ngày</li>
                        <li>(3 ngày/tuần)</li>
                        <li>12 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 2.496.000 đ/tháng </li>
                        <li> (48 tiếng/tháng) </li>
                        <li> 52.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh44</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>4 tiếng/ngày</li>
                        <li>(4 ngày/tuần)</li>
                        <li>16 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 2.880.000 đ/tháng </li>
                        <li> (64 tiếng/tháng) </li>
                        <li> 45.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh45</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>4 tiếng/ngày</li>
                        <li>(5 ngày/tuần)</li>
                        <li>20 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 3.200.000 đ/tháng </li>
                        <li> (80 tiếng/tháng) </li>
                        <li> 40.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh46</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>4 tiếng/ngày</li>
                        <li>(6 ngày/tuần)</li>
                        <li>26 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 3.950.000 đ/tháng </li>
                        <li> (104 tiếng/tháng) </li>
                        <li> 38.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tddichvu">
                    <ul class="dichvu" style="width: 100%; padding-left: 0px;">
                        <li>cnh86</li>
                    </ul>
                </td>
                <td data-th="thời gian thực hiện">
                    <ul class="Time">
                        <li>8 tiếng/ngày</li>
                        <li>(6 ngày/tuần)</li>
                        <li>26 ngày/tháng</li>
                    </ul>
                </td>
                <td data-th="mô tả công việc">
                    <ul class="mota">
                        <li>Dọn dẹp vệ sinh nhà cửa</li>
                        <li>Phơi, treo, gấp quần áo</li>
                        <li>Rửa chén, bát</li>
                    </ul>
                </td>
                <td data-th="hình thức hợp đồng">
                    <ul class="hinhthuc"></ul>
                </td>
                <td data-th="giá dịch vụ">
                    <ul class="Giadichvu">
                        <li class="gia"> 5.200.000 đ/tháng </li>
                        <li> (208 tiếng/tháng) </li>
                        <li> 25.000 đ/tiếng </li>
                    </ul>
                </td>
            </tr>
        </tbody>

    </table>
</div>