
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12" style="width:100%">
    <img src="~/Content/Images/file/GioiThieu5.jpg" class="img-responsive" />
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color:#ffffff">
    <div class="panel-body">
        <div class="col-md-12" style="text-align:center; border-bottom:3px solid #0A921A; background-color:#ffffff">
            <h3 class="ChuDe">GIỚI THIỆU CÔNG TY FULL HOUSE</h3>
        </div>
        <div class="Body-Bot">
            <div class="col-md-12 Body-GioiThieu">
                @*Text*@
                <div class="col-md-8">
                    <h3 class="TieuDe">
                        Hiện nay nhu cầu giúp việc nhà theo giờ ngày càng cao, rõ ràng là
                        vì những tiện lợi và ưu điểm vượt bậc hơn, so với giúp việc nhà ở lại như
                        trước đây có những ưu điểm sau:
                    </h3>
                    <p class="NoiDung">
                        <span class="fa fa-map-marker"></span>
                        Thời gian linh hoạt theo sự sắp xếp của khách hàng, không ảnh hưởng
                        đến nề nếp sinh hoạt, cuộc sống riêng tư của khách hàng.
                    </p>
                    <p class="NoiDung">
                        <span class="fa fa-map-marker"></span>
                        Tiết kiệm hơn, chi phí tính theo giờ, khách hàng không phải tốn chi
                        phí cho việc ở lại như tiền ăn, tiền mặc, tiền khám chữa bệnh, tiền
                        về quê, thưởng Tết,.v..v
                    </p>
                    <p class="NoiDung">
                        <span class="fa fa-map-marker"></span>
                        Không phải lo nhân viên nghỉ làm việc vì chúng tôi đảm bảo luôn có
                        nhân viên làm việc theo yêu cầu của khách hàng.
                    </p>
                    <p class="NoiDung">
                        <span class="fa fa-map-marker"></span>
                        Không phải lo lắng trộm cắp. Chúng tôi chịu trách nhiệm toàn bộ hoặc
                        một phần tài sản bị mất cắp theo mức độ quy định trong hợp đồng.
                    </p>
                </div>
                @*Image*@
                <div class="col-md-4">
                    <img src="~/Content/Images/file/GioiThieu3.jpg" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-12 Body-GioiThieu">
                @*Image*@
                <div class="col-md-4">
                    <img src="~/Content/Images/file/GioiThieu1.jpg" class="img-responsive" />
                </div>
                @*Text*@
                <div class="col-md-8">
                    <h3 class="TieuDe">
                        Công ty chúng tôi có cơ sở pháp lý được cấp phép để được mở rộng công ty “Chuyển
                        nhà và dọn nhà trọn gói”.
                    </h3>
                    <p class="NoiDung">
                        <span class="fa fa-map-marker"></span>
                        Thị trường của chúng tôi bao gồm những gia đình nhỏ mà tính chất công việc
                        quá bận mà không có thời gian chăm sóc gia đình như vấn đề nấu cơm, giặt quần áo, dọn dẹp,vv..
                    </p>
                    <p class="NoiDung">
                        <span class="fa fa-map-marker"></span>
                        Khi muốn cần chuyển nhà, dịch vụ chúng tôi cung cấp đủ nhân lực và thợ để không
                        làm hỏng hóc đồ đạc khi di chuyển.
                    </p>
                </div>
            </div>

            <div class="col-md-12 Body-GioiThieu">
                @*Text*@
                <h3 class="TieuDe">
                    Tình hình cung cầu, giá cả hiện tại thị trường mục tiêu, dự báo cung cầu tương lai.
                </h3>
                <p class="NoiDung">
                    <span class="fa fa-map-marker"></span>
                    Việt Nam là một nước phát triển cho nên nhu cầu dịch vụ gia đình ngày càng tăng, gia
                    đình cần có người giúp việc chăm chỉ và cũng phải yên tâm về an ninh.
                </p>
                <p class="NoiDung">
                    <span class="fa fa-map-marker"></span>
                    Nhưng rất nhiều người giúp việc vì cái lợi trước mắt mà đánh mất đi niềm tin. Tại sao
                    những gia đình muốn thuê người giúp việc lại đắn đo thế nên nhu cầu nhiều hơn là cung
                    ứng. Vì thế công ty chúng tôi được thành lập với mục đích cung cấp đủ nhân lực và không
                    thiếu sự chuyên nghiệp để khách hàng yên tâm khi sử dụng dịch vụ của mình.
                </p>
                <p class="NoiDung">
                    <span class="fa fa-map-marker"></span>
                    Gia đình là quan trọng nhất trong cuộc sống của mỗi con người… dù nghèo khó hay giàu
                    sang chỉ vì những thay đổi nhỏ bé trong gia đình cũng làm thay đổi cuộc sống và trong
                    công việc. Theo thống kê của những chuyên gia, người phụ nữ Việt Nam trung bình mất
                    khoảng 3-5 giờ mỗi ngày để làm những công việc nhà.
                </p>
                <p class="NoiDung">
                    <span class="fa fa-map-marker"></span>
                    Với số lượng thời gian như thế họ có thể làm nhiều điều có ích mang giá trị cao hơn.
                    Những công việc này hút sạch sức lực và niềm vui của họ vì thế dịch vụ này mang lại cho
                    họ nhiều lợi ích hơn và thực sự có lợi hơn việc họ tự làm những công việc này để họ có
                    thể tập trung vào công việc hơn, an tâm tận hưởng cuộc sống.
                </p>
                @*Image*@
                <div class="col-md-12">
                    <img src="~/Content/Images/file/GioiThieu2.jpg" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-12">
                <h3 class="TieuDe" style="text-align:center">
                    VỚI PHƯƠNG CHÂM “SỰ HÀI LÒNG CỦA KHÁCH HÀNG CHÍNH LÀ MÓN QUÀ CỦA CHÚNG TÔI” CHÚNG TÔI ĐẢM
                    BẢO SẼ CUNG CẤP CHO QUÝ KHÁCH MỘT DỊCH VỤ HOÀN HẢO NHẤT !
                </h3>
                <h3 class="TieuDe" style="text-align:center">
                    XIN CHÂN THÀNH CÁM ƠN !
                </h3>
            </div>
        </div>
    </div>
</div>